/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%); 
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  
}

/*========== Button Dark/Light ==========*/
.nav__btns {
  display: flex;
  align-items: center;
}
.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}
.change-theme:hover {
  color: var(--first-color);
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--body-font);
}

/*==================== sidebar ====================*/

.sidebar {
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--first-color);
  z-index: var(--z-fixed);
  transition: width 300ms;
}

.sidebar-brand {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}

.sidebar-brand span {
  display: inline-block;
  padding-right: var(--mb-1);
}
.sidebar-menu {
  margin-top: var(--mb-1);
}
.sidebar-menu li {
  width: 100%;
  margin-bottom: var(--mb-1);
  padding-left: var(--mb-1);
}

.sidebar-menu a {
  padding-left: var(--mb-1);
  display: block;
  color: #fff;
  font-size: 1.1rem;
}

.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: var(--mb-1);
}

.sidebar-menu a.active {
  background: #fff;
  padding-top: var(--mb-1);
  padding-bottom: var(--mb-1);
  color: var(--first-color);
  border-radius: 30px 0 0 30px;
}
/*==================== sidebar toggle ====================*/
#nav-toggle {
  display: none;
}
#nav-toggle:checked + .sidebar {
  width: 70px;
}
/* #nav-toggle:checked + .sidebar .sidebar-brand h2 span, */
#nav-toggle:checked + .sidebar li a {
  padding-left: var(--mb-1);
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
  display: none;
}

#nav-toggle:checked ~ .main-content {
  margin-left: 70px;
}
#nav-toggle:checked ~ .main-content header {
  width: calc(100% - 70px);
  left: 70px;
}

/*==================== main content ====================*/
main {
  margin-top: 80px;
  padding: 2rem 1.5rem;
  background: var(--body-color);
  min-height: calc(100vh - 90px);
}
.main-content {
  margin-left: 345px;
  transition: margin-left 300ms;
}

/*==================== header ====================*/
header {
  display: flex;
  justify-content: space-between;
  padding: var(--mb-1) var(--mb-1-5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 345px;
  width: calc(100% - 345px);
  top: 0;
  z-index: var(--z-fixed);
  background: var(--container-color);
  transition: left 300ms;
}
header h2 {
  color: var(--title-color);
  align-self: center;
}
header label span {
  font-size: var(--h2-font-size);
  padding-right: 1rem;
}
/*==================== search ====================*/
.search__wrapper {
  border: 1px solid var(--first-color-second);
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.search__wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: var(--h2-font-size);
}
.search__wrapper input {
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
}

/*==================== user ====================*/
.user__wrapper {
  display: flex;
  align-items: center;
}
.user__wrapper img {
  border-radius: 50%;
  margin-right: var(--mb-1);
}
.user__wrapper small {
  display: inline-block;
  color: var(--text-color);
}

/*==================== cards ====================*/
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: var(--mb-1);
}
.card__single {
  display: flex;
  justify-content: space-between;
  background: var(--container-color);
  padding: var(--mb-2);
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.card__single div:last-child span {
  font-size: var(--mb-3);
  color: var(--first-color);
}
.card__single div:first-child span {
  color: var(--text-color-light);
}
.card__single:last-child {
  background: var(--first-color);
}
.card__single:last-child h1,
.card__single:last-child div:first-child span,
.card__single:last-child div:last-child span {
  color: var(--container-color);
}

/*==================== recent ====================*/
.recent__grid {
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 65% auto;
}

/*==================== recent card ====================*/
.card {
  background: var(--container-color);
  border-radius: 5px;
}
.card__header,
.card__body {
  padding: var(--mb-1);
}
.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid var(--first-color-lighter); */
}
.card__header button {
  background: var(--first-color);
  border-radius: 10px;
  color: #fff;
  font-size: var(--small-font-size);
  padding: .5rem 1rem;
  border: 1px solid var(--first-color);
  cursor: pointer;
}
.card__header button:hover {
  background: var(--first-color-alt);
}
/*==================== recent project ====================*/
table {
  border-collapse: collapse;
}
thead tr {
  border-top: 1px solid var(--first-color-lighter);
  border-bottom: 2px solid var(--first-color-lighter);
}
thead td {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
td {
  padding: .5rem 1rem;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}
td .status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: var(--mb-1);
}
tr td:last-child {
  display: flex;
  align-items: center;
}
.table__responsive {
  width: 100%;
  overflow-x: auto;
}
.status.purple {
  background-color: rebeccapurple;
}
.status.pink {
  background-color: deeppink;
}
.status.orange {
  background-color: orangered;
}

/*==================== recent customers ====================*/
.customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .7rem;
}
.info {
  display: flex;
  align-items: center;
}
.info img {
  border-radius: 50%;
  margin-right: var(--mb-1);
}
.info h4 {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.info small {
  font-weight: var(--small-font-size);
  color: var(--text-color);
}
.contact span {
  font-size: var(--h2-font-size);
  display: inline-block;
  margin-left: var(--mb-0-5);
  color: var(--first-color);
}


/*==================== medias query ====================*/
@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 70px;
  }
  .sidebar li a {
    padding-left: var(--mb-1);
  }
  .sidebar .sidebar-brand h2 span:last-child,
  .sidebar li a span:last-child {
    display: none;
  }
  .main-content {
    margin-left: 70px;
  }
  .main-content header {
    width: calc(100% - 70px);
    left: 70px;
  }
}

@media only screen and (max-width: 960px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .recent__grid {
    grid-template-columns: 60% 40%;
  }
}

@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .recent__grid {
    grid-template-columns: 100%;
  }
  .search__wrapper {
    display: none;
  }
}
@media only screen and (max-width: 425px) {

  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  header h2 {
    font-size: var(--h2-font-size);
  }
  .user__wrapper div {
    display: none;
  }
}